<section class="success" id="research">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Research</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">e
            <div class="col-lg-3 col-lg-offset-0 text-center">
                <h3>Plant systematics and evolution</h3>
		<p></p>
	    </div>
            <div class="col-lg-3 col-lg-offset-1 text-center">
                <h3>Biogeography of the Hengduan Mountains</h3>
		<p></p>
            </div>
            <div class="col-lg-3 col-lg-offset-2 text-center">
	      <h3>Phylogenetic comparative methods</h3>
	      <p></p>
            </div>
        </div>
    </div>
</section>
